html {
  background-color: #c8c8cb;
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Heebo', sans-serif;
  height: auto;
  margin: 0 auto;
  max-width: 45rem;
  min-height: 100%;
  padding: 1.5rem;
  word-break: break-all;
}

*:lang(ja) {
  font-family: 'Noto Serif JP', serif;
}

a {
  color: inherit;
}

*:lang(ja) a {
  color: #0041ff;
}

*:lang(ja) a:visited {
  color: #9a0079;
}

h1 {
  color: #7f878f;
  font-size: 5rem;
  font-weight: 500;
  left: -0.2rem;
  position: relative;
}

h1 a {
  text-decoration: none;
}

p {
  color: #35a16b;
  font-weight: 500;
  line-height: 1.5;
  margin: 1rem 0;
}

p:lang(ja) {
  color: #000000;
}

ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

ul.users li {
  margin: 0 0.4rem 0.4rem 0;
}

ul.exams li {
  margin: 0 0.3rem 0.3rem 0;
}

ul li a {
  align-items: center;
  background-color: #ffffff;
  border: solid #edc58f 2px;
  border-radius: 50%;
  color: #edc58f;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  line-height: 1.2;
  overflow: hidden;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

ul.users li a {
  font-size: 1.2rem;
  height: 8rem;
  width: 8rem;
}

ul.exams li a {
  height: 6rem;
  width: 6rem;
}

ul li a.passed {
  background-color: #ff9900;
  border-color: #ff9900;
  color: #ffffff;
}

ol {
  list-style-type: decimal;
  margin: 1rem 0;
  padding-left: 3rem;
}

ol li {
  line-height: 1.5;
  margin: 0.5rem 0;
}

strong {
  color: #ff2800;
}
